# Mount Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Importing Libraries and initializing stopwords and stemmer

In [ ]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

import tensorflow as tf

import warnings
warnings.filterwarnings("ignore")

import nltk

import re
from bs4 import BeautifulSoup
from tqdm import tqdm
from nltk.stem import WordNetLemmatizer

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,f1_score, confusion_matrix
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.utils import shuffle
from sklearn.metrics import classification_report

from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.layers import Dense , Input , LSTM , Embedding, Dropout , Activation, GRU, Flatten
from keras.layers import Bidirectional, GlobalMaxPool1D
from keras.models import Model, Sequential
from keras.layers import Convolution1D
from keras import initializers, regularizers, constraints, optimizers, layers
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

# Reading Data

In [ ]:
hasoc_data = pd.read_csv("drive/MyDrive/ICHCL_baseline/hasoc2021-train/Hasoc2021_train.csv") #Your respective address
hasoc_data.head()

   Unnamed: 0                       _id  ... task_1 task_2
0        4986  60c5d6bf5659ea5e55defa2c  ...    HOF   PRFN
1        3394  60c5d6bf5659ea5e55def461  ...    HOF   OFFN
2        1310  60c5d6bf5659ea5e55defaad  ...    NOT   NONE
3        3390  60c5d6bf5659ea5e55def419  ...    HOF   OFFN
4        4626  60c5d6bf5659ea5e55def7fa  ...    HOF   OFFN

[5 rows x 5 columns]

In [ ]:
aakash_test = pd.read_csv("drive/MyDrive/ICHCL_baseline/Test/mod_data_comb_-_mod_data.csv")

In [ ]:
aakash_test.describe()

       Unnamed: 2  Unnamed: 3  Unnamed: 4  ...  Unnamed: 7  Unnamed: 8  Unnamed: 9
count         0.0         0.0         0.0  ...         0.0         0.0         0.0
mean          NaN         NaN         NaN  ...         NaN         NaN         NaN
std           NaN         NaN         NaN  ...         NaN         NaN         NaN
min           NaN         NaN         NaN  ...         NaN         NaN         NaN
25%           NaN         NaN         NaN  ...         NaN         NaN         NaN
50%           NaN         NaN         NaN  ...         NaN         NaN         NaN
75%           NaN         NaN         NaN  ...         NaN         NaN         NaN
max           NaN         NaN         NaN  ...         NaN         NaN         NaN

[8 rows x 8 columns]

In [ ]:
aakash_test.head()

                        _id  ... task_2
0  60c5d6bf5659ea5e55deffcb  ...   NONE
1  60c5d6bf5659ea5e55df028c  ...   PRFN
2  60c5d6bf5659ea5e55def377  ...   OFFN
3  60c5d6bf5659ea5e55def4c7  ...   OFFN
4  60c5d6bf5659ea5e55df01a6  ...   NONE

[5 rows x 12 columns]

In [ ]:
test_hasoc = pd.read_csv("drive/MyDrive/ICHCL_baseline/Test/en_Hasoc2021_test_task1.csv")
test_hasoc.head()

                        _id                                               text
0  60c5d6bf5659ea5e55deffcb  Fewer people coming in for vaccinations. So sa...
1  60c5d6bf5659ea5e55df028c  @MattHancock This may all be true. But... What...
2  60c5d6bf5659ea5e55def377          @Layla_EFC I’ve unfollowed him the wanker
3  60c5d6bf5659ea5e55def4c7  You guys are losing it all over the world. The...
4  60c5d6bf5659ea5e55df01a6  And thus death laughs... It is sad merriment, ...

In [ ]:
hasoc_data.describe()

        Unnamed: 0
count  3843.000000
mean   2558.799375
std    1477.088070
min       1.000000
25%    1276.500000
50%    2574.000000
75%    3828.000000
max    5121.000000

In [ ]:
tweets = hasoc_data.text
y_task1 = hasoc_data.task_1
y_task2 = hasoc_data.task_2

# Basic Preprocessing of Tweets

In [ ]:
def decontract(text):
    text = re.sub(r"won\'t", "will not", text)
    text = re.sub(r"can\'t", "can not", text)
    text = re.sub(r"n\'t", " not", text)
    text = re.sub(r"\'re", " are", text)
    text = re.sub(r"\'s", " is", text)
    text = re.sub(r"\'d", " would", text)
    text = re.sub(r"\'ll", " will", text)
    text = re.sub(r"\'t", " not", text)
    text = re.sub(r"\'ve", " have", text)
    text = re.sub(r"\'m", " am", text)
    return text

In [ ]:
lemmatizer = WordNetLemmatizer()

In [ ]:
stop_words= set(['br', 'the', 'i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've",\
            "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', \
            'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their',\
            'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', \
            'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', \
            'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', \
            'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after',\
            'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further',\
            'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more',\
            'most', 'other', 'some', 'such', 'only', 'own', 'same', 'so', 'than', 'too', 'very', \
            's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', \
            've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn',\
            "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn',\
            "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", \
            'won', "won't", 'wouldn', "wouldn't"])

In [ ]:
def preprocess_text(text):
    text = re.sub(r"http\S+", "", text)             # removing website links
    text = BeautifulSoup(text, 'lxml').get_text()   # removing html tags
    text = decontract(text)                         # decontracting
    text = re.sub("\S*\d\S*", "", text).strip()     # removing the words with numeric digits
    text = re.sub('[^A-Za-z]+', ' ', text)          # removing non-word characters
    text = text.lower()                             # converting to lower case
    text = [word for word in text.split(" ") if not word in stop_words] # removing stop words
    text = [lemmatizer.lemmatize(token, "v") for token in text] #Lemmatization
    text = " ".join(text)
    text.strip()
    return text

def convert_task(text):
    if text == "HOF":
      return 1
    return 0

In [ ]:
hasoc_data["text"] = hasoc_data["text"].apply(lambda x: preprocess_text(x))
hasoc_data["task_1"] = hasoc_data["task_1"].apply(lambda x: convert_task(x))
aakash_test["text"] = aakash_test["text"].apply(lambda x: preprocess_text(x))
aakash_test["task_1"] = aakash_test["task_1"].apply(lambda x: convert_task(x))
test_hasoc["text"] = test_hasoc["text"].apply(lambda x: preprocess_text(x))

In [ ]:
hasoc_data["text"].head()

0     wealth make not able start make money sustain...
1          technically still turn back clock dick head
2     vmbjp narendramodi jpnadda amitshah dilipghos...
3               krtoprak yigit soldier japan dick head
4     blueheartedly would better ask think sleazy s...
Name: text, dtype: object

In [ ]:
test_hasoc["text"].head()

0    fewer people come vaccinations sad nurse covid...
1                   matthancock may true piss big dom
2                          layla efc unfollowed wanker
3               guy lose world jung label islamophobia
4    thus death laugh sad merriment still covid ind...
Name: text, dtype: object

In [ ]:
hasoc_data["task_1"].head()

0    1
1    1
2    0
3    1
4    1
Name: task_1, dtype: int64

In [ ]:
hasoc_data["task_1"].value_counts()

1    2501
0    1342
Name: task_1, dtype: int64

In [ ]:
hasoc_data.drop(["Unnamed: 0","_id","task_2"],inplace=True,axis=1)

In [ ]:
hasoc_data.head()

                                                text  task_1
0   wealth make not able start make money sustain...       1
1        technically still turn back clock dick head       1
2   vmbjp narendramodi jpnadda amitshah dilipghos...       0
3             krtoprak yigit soldier japan dick head       1
4   blueheartedly would better ask think sleazy s...       1

In [ ]:
train_df = hasoc_data
test_df = aakash_test

print("Training data size : ", train_df.shape)
print("Test data size : ", test_df.shape)
print("Test size of hasoc submission",test_hasoc.shape)

Training data size :  (3843, 2)
Test data size :  (200, 12)
Test size of hasoc submission (1281, 2)

In [ ]:
train_df["task_1"].value_counts()

1    2501
0    1342
Name: task_1, dtype: int64

##Vectorization

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(binary=True, stop_words='english')
cv.fit(train_df.text)
X = cv.transform(train_df.text)
y_train = train_df.task_1
X_test = cv.transform(test_df.text)
X_test_submission = cv.transform(test_hasoc.text)
y_test = test_df.task_1

In [ ]:
from sklearn.feature_extraction.text import TfidfTransformer

tfidf = TfidfTransformer()
X = tfidf.fit_transform(X)
X_test = tfidf.transform(X_test)
X_test_submission = tfidf.transform(X_test_submission)

#Build a predictive model Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=2000)
rf.fit(X, y_train)
y_pred = rf.predict(X_test)
y_submission = rf.predict(X_test_submission)
print ("Accuracy: %s" 
       % accuracy_score(y_test,y_pred))

Accuracy: 0.785

In [ ]:
print("Accuracy of the model : ", accuracy_score(y_pred, y_test))
print('F1-score: ', f1_score(y_pred, y_test))
print('Confusion matrix:')
confusion_matrix(y_test,y_pred)

Accuracy of the model :  0.785
F1-score:  0.8552188552188552
Confusion matrix:

array([[ 30,  21],
       [ 22, 127]])

In [ ]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.58      0.59      0.58        51
           1       0.86      0.85      0.86       149

    accuracy                           0.79       200
   macro avg       0.72      0.72      0.72       200
weighted avg       0.79      0.79      0.79       200

#Test submission

In [ ]:
print(y_submission)
zeros = 0
ones = 0
submission = []
for i in range(len(y_submission)):
  if y_submission[i] == 0:
    zeros += 1
    submission.append("NOT")
    
  else:
    ones += 1
    submission.append("HOF")

print("zeros ",zeros)
print("ones ",ones)

[0 1 1 ... 1 0 1]
zeros  394
ones  887

Rohan SVM model had zeros = 314 and ones = 967

#Submission File

In [ ]:
submission = {'id': test_hasoc._id, 'label':submission}
submission = pd.DataFrame(submission)

In [ ]:
submission.head()

                         id label
0  60c5d6bf5659ea5e55deffcb   NOT
1  60c5d6bf5659ea5e55df028c   HOF
2  60c5d6bf5659ea5e55def377   HOF
3  60c5d6bf5659ea5e55def4c7   NOT
4  60c5d6bf5659ea5e55df01a6   NOT

In [ ]:
submission.describe()

                              id label
count                       1281  1281
unique                      1281     2
top     60c5d6bf5659ea5e55def774   HOF
freq                           1   887

In [ ]:
submission.to_csv('drive/MyDrive/ICHCL_baseline/Submissions/submission_rf_hasoc_2000.csv', index = False)